In [5]:
import numpy as np
import pandas as pd

data = pd.read_csv('Activity.csv')

In [6]:
data

    Unnamed: 0  Activity  Start    End  Day
0            0         2  10:00  10:22    1
1            1         9  10:37  10:40    1
2            2        10  10:40  10:45    1
3            3         6  10:55  11:00    1
4            4         2  11:00  11:20    1
5            5         7  12:00  13:00    1
6            6         4  13:30  13:35    1
7            7        10  13:35  13:40    1
8            8         3  13:40  13:45    1
9            9         6  13:55  14:30    1
10          10         9  14:25  14:30    1
11          11        10  14:25  14:30    1
12          12         2  14:30  16:40    1
13          13        10  16:40  16:45    1
14          14         2  16:45  18:10    1
15          15        10  18:10  18:20    1
16          16         5  18:20  18:30    1
17          17         3  18:45  18:55    1
18          18         8  19:00  19:45    1
19          19         3  20:00  20:30    1
20          20         6  20:30  21:30    1
21          21        10  21:45  21:50    1
22          22         6  21:50  22:20    1
23          23        10  22:20  22:25    1
24          24         9  22:50  22:55    1
25          25        10  22:55  23:00    1
26          26        10  23:30  23:35    1
27          27         4  23:45  23:50    1
28          28         3  23:50  23:55    1
29          29         1  00:25  00:30    2
30          30         0  00:30    NaN    2
31          31         3  09:20  09:35    2